@import url("https://fonts.googleapis.com/css?family=PT+Serif");
body {
  background: lightgray;
  font-family: sans-serif;
}

.outer-wrap {
  margin: 40px auto;
  width: 500px;
  margin-bottom: 300px;
}

.content-wrap {
  background: white;
  box-sizing: border-box;
  padding: 12px;
}

.avatar {
  background: url("/img/react.png");
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  cursor: pointer;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-text {
  font-weight: bold;
  font-size: 14px;
  color: #365899;
}

.avatar-text:hover {
  text-decoration: underline;
}

.avatar-text-wrap {
  cursor: pointer;
}

.avatar-date {
  color: #616770;
  font-size: 12px;
  margin-top: 3px;
}

.avatar-dots {
  background-image: url("/img/dots.png");
  width: 20px;
  height: 20px;
  margin-left: auto;
  align-self: flex-start;
  cursor: pointer;
}

.avatar-dots:hover {
  background-position-y: -20px;
}

.post-text {
  margin-top: 10px;
  font-size: 14px;
  color: #1d2129;
  line-height: 1.4em;
}

.post-image {
  margin-top: 10px;
  box-shadow: 0 0 0 1px lightgrey;
  display: flex;
  cursor: pointer;
}

.post-excerpt {
  border: 2px solid lightgrey;
  border-top: none;
  padding: 8px 10px;
  cursor: pointer;
}

.post-excerpt-title {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

.post-excerpt-text {
  font-size: 12px;
  color: #1d2129;
  line-height: 1.4em;
  margin-top: 4px;
}

.post-excerpt-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4px;
}

.post-excerpt-info-link {
  text-transform: uppercase;
  color: #606770;
  font-size: 12px;
  cursor: pointer;
}

.post-excerpt-info-button {
  color: #4b4f56;
  border: 1px solid #ced0d4;
  background: #f6f7f9;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 8px;
  cursor: pointer;
}

.post-excerpt-info-button:hover {
  background-color: #e9ebee;
}

.action-wrap {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.action-button {
  font-size: 13px;
  color: #616770;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  height: 32px;
  cursor: pointer;
}

.action-button:hover {
  background: rgba(29, 33, 41, 0.04);
}

.action-button:before {
  content: '';
  height: 18px;
  width: 18px;
  display: inline-block;
  background-image: url("/img/post-actions.png");
  margin-right: 4px;
}

.action-button-like:before {
  margin-top: -2px;
}

.action-button-comment:before {
  background-position-y: -18px;
  margin-top: 1px;
}

.action-button-share:before {
  background-position-y: -36px;
}

.action-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 8px;
  margin-left: 4px;
}

.action-menu:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/img/logo-small.png");
  margin-right: 3px;
}

.action-menu:after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("/img/menu-triangle.png");
}

.comment-wrap {
  background: #EFF0F3;
  box-sizing: border-box;
  padding: 8px 12px;
}

.comment-people {
  display: flex;
  align-items: center;
  color: #365899;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  padding-top: 4px;
}

.comment-people-emoji-wrap {
  display: flex;
}

.comment-people-emoji-wrap .emoji {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  box-shadow: 2px 0 1px 0 white;
  position: relative;
}

.comment-people-emoji-wrap .emoji-blue {
  background-color: #3266FE;
}

.comment-people-emoji-wrap .emoji-red {
  background-color: #EB3855;
}

.comment-people-emoji-wrap .emoji-yellow {
  background-color: #FED25F;
}

.comment-people-emoji-wrap .emoji:nth-last-child(1) {
  z-index: 1;
  margin-right: 6px;
}

.comment-people-emoji-wrap .emoji:nth-last-child(2) {
  z-index: 2;
}

.comment-people-emoji-wrap .emoji:nth-last-child(3) {
  z-index: 3;
}

.comment-people-emoji-wrap .emoji:nth-last-child(4) {
  z-index: 4;
}

.comment-people-emoji-wrap .emoji:nth-last-child(5) {
  z-index: 5;
}

.comment-people-names {
  font-size: 12px;
  cursor: pointer;
}

.comment-people-names span:hover {
  text-decoration: underline;
}

.comment-people-interesting {
  font-size: 11px;
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comment-people-interesting:after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("../img/menu-triangle-blue.png");
  margin-left: 3px;
}

.comment-writing-shares {
  margin: 8px 0;
  font-size: 12px;
  color: #365899;
  cursor: pointer;
}

.comment-writing-shares:hover {
  text-decoration: underline;
}

.comment-writing .user-avatar {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.comment-writing .user-avatar-bene {
  background-image: url("../img/logo.png");
}

.comment-writing .user-avatar-gergo {
  background-image: url("../img/gergo.png");
}

.comment-writing-input {
  padding: 5px 112px 5px 12px;
  border-radius: 32px;
  border: 1px solid lightgray;
  line-height: 20px;
  margin-left: 8px;
  font-size: 12px;
  flex: 1;
}

.comment-writing-input:focus {
  outline: none;
}

.comment-writing-input-wrap {
  display: flex;
  flex-direction: column;
}

.comment-writing-input-inner {
  display: flex;
  align-items: center;
  position: relative;
}

.comment-writing-input-actions {
  position: absolute;
  right: 6px;
  display: flex;
  justify-content: center;
}

.comment-writing-input-actions i.input-action {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0 5px;
}

.comment-writing-input-actions i.input-action:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/input-actions.png");
}

.comment-writing-input-actions i.input-action-emoji:after {
  background-position-x: -34px;
}

.comment-writing-input-actions i.input-action-emoji:hover:after {
  background-position: 0 -17px;
}

.comment-writing-input-actions i.input-action-photo:hover:after {
  background-position-x: -17px;
}

.comment-writing-input-actions i.input-action-gif:after {
  background-position: -17px -17px;
}

.comment-writing-input-actions i.input-action-gif:hover:after {
  background-position: 16px -17px;
}

.comment-writing-input-actions i.input-action-postit:after {
  background-position: 16px 33px;
}

.comment-writing-input-actions i.input-action-postit:hover:after {
  background-position: 0 16px;
}

.comment-writing-input-hint {
  font-size: 9px;
  color: #a0a0a0;
  margin: 4px 0 4px 42px;
  letter-spacing: .01em;
}

.comment-writing-item {
  margin: 8px 0;
  display: flex;
}

.comment-writing-item-text {
  background: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  line-height: 1.4em;
}

.comment-writing-item-text span {
  font-weight: bold;
  color: #365899;
  cursor: pointer;
}

.comment-writing-item-text span:hover {
  text-decoration: underline;
}

.comment-writing-item-text-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;
  margin-right: 20px;
}

.comment-writing-item-actions {
  margin-top: 3px;
  font-size: 12px;
  color: #606770;
  padding-left: 10px;
  cursor: pointer;
}

.comment-writing-item-actions span {
  color: #365899;
  font-weight: normal;
}

.comment-writing-item-actions span:hover {
  text-decoration: underline;
}

.comment-writing-item-answers {
  margin-top: 16px;
  margin-left: 10px;
  font-size: 12px;
  color: #365899;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.comment-writing-item-answers:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 11px;
  background-image: url("../img/answer-arrow.png");
  margin-right: 6px;
}

.comment-writing-item-answers:hover {
  border-bottom: 1px solid #365899;
}
/*# sourceMappingURL=style.css.map */