@import url('https://fonts.googleapis.com/css?family=PT+Serif');

$text-color: #1d2129;
$text-color-blue: rgb(54, 88, 153);
$text-color-grey: #606770;
$text-color-lightgrey: #a0a0a0;
$button-background-color: #f6f7f9;
$button-background-color-hover: #e9ebee;
$button-border-color: #ced0d4;
$button-text-color: #4b4f56;

$action-text-color: #616770;
$action-background-hover: rgba(29, 33, 41, .04);

body {
  background: lightgray;
  font-family: sans-serif;
}

.outer-wrap {
  margin: 40px auto;
  width: 500px;
  margin-bottom: 300px;
}

.content-wrap {
  background: white;
  box-sizing: border-box;
  padding: 12px;
}

.avatar {
  background: url('/img/react.png');
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  cursor: pointer;

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-text {  
    font-weight: bold;
    font-size: 14px;
    color: $text-color-blue;

    &:hover {
      text-decoration: underline;
    }

    &-wrap {
      cursor: pointer;
    }
  }

  &-date {
    color: rgb(97, 103, 112);
    font-size: 12px;
    margin-top: 3px;
  }

  &-dots {
    background-image: url('/img/dots.png');
    width: 20px;
    height: 20px;
    margin-left: auto;
    align-self: flex-start;
    cursor: pointer;

    &:hover {
      background-position-y: -20px;
    }
  }
}

.post {
  &-text {
    margin-top: 10px;
    font-size: 14px;
    color: $text-color;
    line-height: 1.4em;
  }

  &-image {
    margin-top: 10px;
    box-shadow: 0 0 0 1px lightgrey;
    display: flex;
    cursor: pointer;
  }
  
  &-excerpt {
    border: 2px solid lightgrey;
    border-top: none;
    padding: 8px 10px;
    cursor: pointer;

    &-title {
      font-family: 'PT Serif', serif;
      font-size: 18px;
    }

    &-text {
      font-size: 12px;
      color: $text-color;
      line-height: 1.4em;
      margin-top: 4px;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 4px;

      &-link {
        text-transform: uppercase;
        color: $text-color-grey;
        font-size: 12px;
        cursor: pointer;
      }

      &-button {
        color: $button-text-color;
        border: 1px solid $button-border-color;
        background: $button-background-color;
        font-weight: bold;
        font-size: 12px;
        padding: 4px 8px;
        cursor: pointer;

        &:hover {
          background-color: $button-background-color-hover;
        }
      }
    }
  }
}

.action {
  &-wrap {
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  &-button {
    font-size: 13px;
    color: $action-text-color;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 32px;
    cursor: pointer;

    &:hover {
      background: $action-background-hover;
    }

    &:before {
      content: '';
      height: 18px;
      width: 18px;
      display: inline-block;
      background-image: url('/img/post-actions.png');
      margin-right: 4px;
    }
    
    &-like:before {
      margin-top: -2px;
    }

    &-comment:before {
      background-position-y: -18px;
      margin-top: 1px;
    }
    
    &-share:before {
      background-position-y: -36px;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 8px;
    margin-left: 4px;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('/img/logo-small.png');
      margin-right: 3px;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 11px;
      height: 11px;
      background-image: url('/img/menu-triangle.png')
    }
  }
}

.comment {
  &-wrap {
    background: #EFF0F3;
    box-sizing: border-box;
    padding: 8px 12px;
  }

  &-people {
    display: flex;
    align-items: center;
    color: $text-color-blue;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 4px;

    &-emoji-wrap {
      display: flex;

      .emoji {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        box-shadow: 2px 0 1px 0 white;
        position: relative;
  
        &-blue {
          background-color: #3266FE;
        }
        &-red {
          background-color: #EB3855;
        }
        &-yellow {
          background-color: #FED25F;
        }
  
        &:nth-last-child(1) {
          z-index: 1;
          margin-right: 6px;
        }
        &:nth-last-child(2) {
          z-index: 2;
        }
        &:nth-last-child(3) {
          z-index: 3;
        }
        &:nth-last-child(4) {
          z-index: 4;
        }
        &:nth-last-child(5) {
          z-index: 5;
        }    
      }      
    }

    &-names {
      font-size: 12px;
      cursor: pointer;

      span:hover {
        text-decoration: underline;
      }
    }

    &-interesting {
      font-size: 11px;
      margin-left: auto;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:after {
        content: '';
        display: inline-block;
        width: 11px;
        height: 11px;
        background-image: url('../img/menu-triangle-blue.png');
        margin-left: 3px;
      }
    }
  }

  &-writing {    
    &-shares {
      margin: 8px 0;
      font-size: 12px;
      color: $text-color-blue;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .user-avatar {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
    }

    .user-avatar-bene {
      background-image: url('../img/logo.png');
    }

    .user-avatar-gergo {
      background-image: url('../img/gergo.png');
    }

    &-input {
      padding: 5px 112px 5px 12px;
      border-radius: 32px;
      border: 1px solid lightgray;
      line-height: 20px;
      margin-left: 8px;
      font-size: 12px;
      flex: 1;

      &:focus {
        outline: none;
      }

      &-wrap {
        display: flex;
        flex-direction: column;
      }

      &-inner {
        display: flex;
        align-items: center;
        position: relative;
      }

      &-actions {
        position: absolute;
        right: 6px;
        display: flex;
        justify-content: center;

        i.input-action {
          display: inline-block;
          width: 16px;
          height: 16px;
          cursor: pointer;
          margin: 0 5px;

          &:after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url('../img/input-actions.png');
          }

          &-emoji {
            &:after {
              background-position-x: -34px;
            }
            &:hover:after {
              background-position: 0 -17px;
            }
          }

          &-photo {
            &:hover:after {
              background-position-x: -17px;
            }
          }

          &-gif {
            &:after {
              background-position: -17px -17px;
            }
            &:hover:after {
              background-position: 16px -17px;
            }
          }

          &-postit {
            &:after {
              background-position: 16px 33px;
            }
            &:hover:after {
              background-position: 0 16px;
            }
          }

        }
      }

      &-hint {
        font-size: 9px;
        color: $text-color-lightgrey;
        margin: 4px 0 4px 42px;
        letter-spacing: .01em;
      }
    }

    &-item {
      margin: 8px 0;
      display: flex;

      &-text {
        background: white;
        border-radius: 10px;
        padding: 10px;
        font-size: 12px;
        line-height: 1.4em;

        span {
          font-weight: bold;
          color: $text-color-blue;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        &-wrap {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          flex: 1;
          margin-right: 20px;
        }
      }
      &-actions {
        margin-top: 3px;
        font-size: 12px;
        color: $text-color-grey;
        padding-left: 10px;
        cursor: pointer;

        span {
          color: $text-color-blue;
          font-weight: normal;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &-answers {
        margin-top: 16px;
        margin-left: 10px;
        font-size: 12px;
        color: $text-color-blue;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: auto;

        &:before {
          content: '';
          display: inline-block;
          width: 18px;
          height: 11px;
          background-image: url('../img/answer-arrow.png');
          margin-right: 6px;
        }

        &:hover {
          border-bottom: 1px solid $text-color-blue;
        }
      }
    }
  }
}

