body {
  background: lightgray;
  font-family: sans-serif;
}

.wrapper {
  background: white;
  width: 500px;
  margin: 40px auto;
  box-sizing: border-box;
  padding: 12px;
}

.avatar {
  background: url('../img/react.png');
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 6px;

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-text {
    font-weight: bold;
    font-size: 14px;
    color: rgb(54, 88, 153);
  }

  &-date {
    color: rgb(97, 103, 112);
    font-size: 12px;
    margin-top: 3px;
  }

  &-dots {
    background-image: url('../img/dots.png');
    width: 20px;
    height: 20px;
    margin-left: auto;
    align-self: flex-start;
    cursor: pointer;

    &:hover {
      background-position-y: -20px;
    }
  }
}

.post {
  &-text {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(29, 33, 41);
    line-height: 1.4em;
  }

  &-image {
    margin-top: 10px;
  }
}